/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    outline: 1px solid red; 
}

body {
   
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #057858;
}


.nav-list {
    
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
}

.logo-container {
    margin-right: auto; 
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}

.logo-container {
    margin-right: auto;
}

.logo {
    height: 40px;
}

.menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Liens de navigation */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-list li {
    margin: 0 15px;
}

/* Bouton "Faire un don" */
.donate-btn {
    background-color: #F7012A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px 20px;
    gap: 8px;
    text-decoration: none;
}

.donate-btn::before {
    content: "♡";
    font-size: 18px;
}

/* Section Hero */
.hero {
    position: relative;
    background-image: url('asset/imagechien.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh; 
    padding: 0;
}

 .histoire-item1{
    width: 100%;
    height: 100vh; 
    padding: 0;
}
.histoire-item2{
 
    width: 100%;
    height: 100vh; 
    padding: 0;
}
.histoire-item3{
 
    width: 100%;
    height: 100vh; 
    padding: 0;
}

.hero-content {
    padding: 5%;
    max-width: 80%; 
    text-align: center;
}

/* SECTION DONATIONS */
.donation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    width: 100%;
}



/* Option de don sélectionnée (fond vert) */
.donation-option.selected {
    background-color: #28a745; /* Vert */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); 
}

/* Bouton de donation (avant sélection) */
.donate-submit-btn {
    background-color: #F7012A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.donate-submit-btn:hover {
    background-color: #d40125;
}

/* Option de fréquence sélectionnée (fond vert) */
.donation-frequency-btn.selected {
    background-color: rgba(0, 197, 126, 1); 
    color: white;
}

/* Effet d'hover pour la fréquence */
.donation-frequency-btn:hover {
    background-color: rgba(0, 197, 126, 1);
}
/* Titre */
.donation-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Conteneur principal */
.donation-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Options de don */
.donation-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/* Style de base pour les options */
.donation-option {
    background-color: white;
    border: 1px solid #7b8189;
    border-radius: 8px;
    padding: 11px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    flex: 1;
    min-width: 150px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/* Effet au survol */
.donation-option:hover {
    transform: scale(1.05);
    background-color: rgba(0, 197, 126, 1) ;
}

/* Boutons de fréquence */
.donation-frequency {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.donation-frequency-btn {
    background-color: #f2f3f6;
    color: black;
    border: none;
    
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}


/* Bouton de validation */
.donate-submit-btn {
    background-color: #F7012A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.donate-submit-btn:hover {
    background-color: #d40125;
}

/* Boutons de donation */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

/* Section Mission */
.mission {
    display: flex;
    justify-content: center;
    background-color: #d2f5e3; 
    padding: 40px 0;
}

.content-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%; 
    max-width: 1000px; 
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%; 
    height: 100%;
    object-fit: cover;

}

.text-container {
    flex: 2;
    padding: 40px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.text-container h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 90%; 
}







/* Section Histoire */
.histoire {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
  }
  
  .histoire h1 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .histoire-top {
    width: 100%;
    max-width: 90%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* Réduction de la taille de l'image principale */
  .histoire-image {
    height: 90vh; /* Hauteur fixe pour réduire l'image principale */
    background: url('../asset/imagechien2.jpeg') no-repeat center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start; 
    padding: 20px;
    color: white;
    margin: auto;
    position: relative;
  }
  
  .histoire-content {
    position: absolute;
    left: 20px;
    bottom: 20px;
    border-radius: 10px;
    text-align: left;
  }
  
  .histoire-content .titre {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .histoire-content .description {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .histoire-content .date {
    font-size: 1rem;
    color: white;
  }
  
  /* Galerie d'images */
  .histoire-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 15px;
    margin-top: 20px;
  }
  
  .histoire-item {
    height: 150px; 
    width: 150px; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .histoire-item:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }


/* Section 5 */

.section4 {
    background-color: #edfcf5;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}


/* Questions */
.question {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;   
    width: 60%;
 
 
}

/* Conteneur des boutons */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

/* Boutons */
.buttonquiz {
    flex: 1;
    padding: 10px;
    border: 1px solid #7b8189;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    text-align: left;
}



/* Impact */
.impact {
    text-align: center;

}
.title{
    text-align: center;
    padding: 1%;;
}
/* Conteneur Impact */
.impact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

/* Chaque bloc d'impact */
.impact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    max-width: 250px;
}

/* Images Impact */
.impact-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* section 5  */


.container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    
}

.testimonials {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: left;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.card-content strong {
    font-size: 14px;
    color: #555;
}



/* Formulaire */
.form-container {
    width: 90%;
    max-width: 900px;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
}

h1.titreform {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.buttonform {
    background-color: #007A53;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.buttonform i {
    margin-right: 10px;
}

.buttonform:hover {
    background-color: #007A53;
}

.error {
    color: red;
    font-size: 0.875rem;
}


.footer {
    background-color: #232C3B;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 10%;
    text-align: center;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer h1, .footer h2 {
    margin-bottom: 10px;
}

.email-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/* Responsive */
@media (max-width:  850px) {
    nav {
        flex-direction: column;
        align-items: flex-start; 
        

    }

  
     
    .menu-right {
        align-items: flex-start;
        gap: 10px;
        width: 80%;
     
    }
    


 

    .donation-options {
        flex-direction: column;
        align-items: center;
    }

    .content-container {
        flex-direction: column;
    }

    .hero-content {
        padding: 10px;
    }
    .histoire-bottom {
        flex-direction: column;
        gap: 10px;
    }

    .histoire-item {
        width: 90%;
        height: 150px;
    }
    .impact-container {
        flex-direction: column;
        align-items: center;
    }
    .btn-container {
        flex-direction: column;
    }

    button {
        max-width: 100%;
    }

    .impact-container {
        flex-direction: column;
        align-items: center;
    }

    .section4 {
        padding: 10%;
    }

    .question {
        width: 100%;
    }

    .btn-container {
        flex-direction: column;
    }

    .buttonquiz {
        width: 100%;
        max-width: none;
    }

    .impact-container {
        flex-direction: column;
        align-items: center;
    }

    .impact-item {
        width: 100%;
    }
    .section4 {
        padding: 10%;
    }

    .question {
        width: 100%;
    }

    .btn-container {
        flex-direction: column;
    }

    .buttonquiz {
        width: 100%;
        max-width: none;
    }

    .impact-container {
        flex-direction: column;
        align-items: center;
    }

    .impact-item {
        width: 100%;
    }
    .testimonials {
        flex-direction: column;
        align-items: center;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
    }
   

}